/* Root colors for the webpage */
.root{
  --black: #000000;
  --white: #ffffff;
  --purple1: #28104E;
  --purple2: #6437A0;
  --purple3: #9854CB;
  --purple4: #DEACF5;
  /*font-family: Georgia, serif; font for title*/ 
  /*font-family: Verdana, sans-serif; font for content*/
}
.tog{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=6437A0');
}
.App {
  text-align: center;
}
/* full webpage width controller */
html, body{
  width: 100%;
  height: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #6437A0;
}
/* /* for mobile screen */
@media only screen and (max-width: 820px) {
  html, body{
    width: 100%;
    background-color: #9854CB;
  }
  .header-sec{
    position: fixed;
    bottom: 500px;
    left: 0px;
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../src/assests/bg4.jpg");
  }
  .header-pic{
    position: fixed;
    height: 60px;
    width: 60px;
    left: 50px;
    top: 15px;
    border-radius: 50px;
  }
  .hamburger{
    position: relative;
    top: 15px;
    left: 160px;
  }
  .list{
    visibility: hidden;
  }
  .ham:hover .hammenu .list{
    visibility: visible;
    display: grid;
    background-color: #DEACF5;
    position: relative;
    left: 130px;
    top: 20px;
    width: 70%;
    height: 650px;
    transition: all .3s ease-in-out;
  }
  .navbar-sec{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 5px;
    left: auto;
    background-color: #DEACF5;
    border-radius: 18px;
    z-index: 100000;
  }
  .bio-sec{
    position: relative;
    color: black;
    background-color: white;
    width: 100%;
    height: 450px;
    top: 400px;
    right: 0px;
  }
  .pl{
    position: relative;
    background-color: #6437A0;
    height: 400px;
    width: 100%;
    top: 440px;
  }
  .footer-sec{
    position: relative;
    background-color: #28104E;
    width: 100%;
    height: 350px;
    right: 0px;
    top: 480px;
  }
  .footerdiv ul{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: left;
    list-style-type: none;
  }
  .footerdiv ul li{
    display: inline;
  }
  .footerdiv2{
    display: none;

  }
}
/* for laptop screen @media only screen and (max-width: 1420px) and (min-width: 991px) */
@media only screen and (min-width: 720px) {
  html, body{
    width: 100%;
  }
  .header-sec{
    position: relative;
    bottom: 165px;
    left: 0px;
    height: 580px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../src/assests/bg4.jpg");
    border: 10px;
    box-shadow: 0px 30px 10px #6437A0;
  }
  .header-pic{
    position: fixed;
    height: 60px;
    width: 60px;
    left: 80px;
    top: 10px;
    border-radius: 50px;
  }
  .hamburger{
    visibility: hidden;
  }
  .hbutton{
    bottom: 37px;
    left: 150px;
    margin: 5px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px;
    transition: all .3s linear;
    overflow: hidden;
    position: relative;
  }
  .hbutton:hover{
    color: #28104E;
    border-radius: 5px;
    width: 10%;
    height: 60%;
    text-align: center;
    background-color: white;
    transform: scale(1.2);
  }
  .typing{
    caret-color: blue;
    position: relative;
    color: #ffffff;
    background-color: #6437A0;
    border-radius: 20px;
    bottom: 420px;
    left: 50px;
    font-family: Georgia, serif; /* text for title */
    font-style: normal;
    font-size: 42px;
    align-items: center;
    text-align: center;
  }
  .navbar-sec{
    position: fixed;
    width: 90%;
    height: 64px;
    top: 8px;
    left: auto;
    background-color: #DEACF5;
    box-shadow: 0px 1px 10px #2e2d27;
    border-radius: 18px;
    z-index: 100000;
  }
  .navbar-sec.fixed{
    width: 100%;
    position: fixed;
    border-radius: 0px;
    top: 0;
    height: 72px;
  }
  .header-pic.fixed{
    position: fixed;
    top: 530px;
  }
  .bio-sec{
    position: relative;
    color: black;
    background-color: white;
    box-shadow: 0px 1px 10px #ffffff;
    width: 100%;
    height: 40vh;
    bottom: 230px;
    right: 0px;
  }
  .high-bio{
    background-color: #6437A0;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 0px;
    border-radius: 10px;
  }
  #bio p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    justify-content: center;
    align-items: center;
    left: 25px;
    top: 50px;
    position: relative;
  }
  .profile-sec{
    position: relative;
    bottom: 270px;
    /* background-color: red; */
    height: 50%;
    width: 50%;
    left: 540px;
  }
  .profile{
    height: 42%;
    width: 42%;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pl{
    position: relative;
    font-family: Georgia, serif;
    /* box-shadow: 0px 1px 15px #2e2d27; */
    box-shadow: #000000 0px 25px 20px 20px;
    background-color: #6437A0;
    height: 500px;
    width: 100%;
    bottom: 0px;
  }
  .footer-sec{
    position: relative;
    background-color: #28104E;
    box-shadow: 0px 1px 15px #2e2d27;
    width: 100%;
    min-height: 10vh;
    right: 0px;
    bottom: 0px;
  }
  .footerdiv{
    position: relative;
    top: 1rem;
    left: 5rem;
    height: 16rem;
    width: 20rem;
    background-color: rgb(58, 45, 96);
    color: azure;
    border-radius: 7px;
    list-style-type: none;
  }
  .footerdiv li{
    text-decoration: none;
    text-align: left;
    list-style-type: none;
  }
  .footerdiv li a:link {
    color: azure;
    text-decoration: none;
  }
  
  .footerdiv li a:visited {
    color: azure;
    text-decoration: none;
  }
  
  .footerdiv li a:hover {
    color: azure;
    text-decoration: none;
  }
  
  .footerdiv li a:active {
    color: azure;
    text-decoration: none;
  }
  .footerdiv2{
    position: relative;
    bottom: 15rem;
    left: 65rem;
    height: 16rem;
    width: 20rem;
    background-color: black;
    color: azure;
    border-radius: 7px;
    border: solid white;
    opacity: 0.2;
    list-style-type: none;
  }
  .footerdiv2 li{
    text-decoration: none;
    text-align: left;
    list-style-type: none;
  }
  .footerdiv2 li a:link {
    color: azure;
    text-decoration: none;
  }
  
  .footerdiv2 li a:visited {
    color: azure;
    text-decoration: none;
  }
  
  .footerdiv2 li a:hover {
    color: azure;
    text-decoration: none;
  }
  
  .footerdiv2 li a:active {
    color: azure;
    text-decoration: none;
  }











}
/* @media only screen and (max-width: 820px) {
  .list{
    position: relative;
    right: 100px;
  }
  .bio-sec{
    background-color: red;
  }
} */
